<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signingStyle</key>
    <string>msanual</string>
    <key>teamID</key>
    <string>KCKD42NRF8</string>
    <key>method</key>
    <string>aapp-store</string>
    <key>signingCertificate</key>
    <string>Maksim Shemetov</string>
    <key>provisioningProfiles</key>
    <dict>
     <key>maxeem.america.flutter.converter</key>
     <string>245cc7d2-21de-40f0-bfbe-9db6793b986e</string>
    </dict>
</dict>
</plist>
