<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>destination</key>
    <string>export</string>
    <key>teamID</key>
    <string>KCKD42NRF8</string>
    <key>method</key>
    <string>app-store</string>
    <key>signingCertificate</key>
    <string>iPhone Distribution: Maksim Shemetov (KCKD42NRF8)</string>
    <key>provisioningProfiles</key>
    <dict>
      <key>maxeem.america.flutter.converter</key>
      <string>Converter - distr</string>
    </dict>
    <key>signingStyle</key>
    <string>manual</string>
</dict>
</plist>
