<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>teamID</key>
    <string>KCKD42NRF8</string>
    <key>method</key>
    <string>development</string>
    <key>uploadBitcode</key>
    <true/>
    <key>compileBitcode</key>
    <true/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>iPhone Developer: Maksim Shemetov (Y368FCXV4C)</string>
    <key>provisioningProfiles</key>
    <dict>
     <key>maxeem.america.flutter.converter</key>
     <string>Converter - iOS App Development provisioning</string>
 </dict>
</dict>
</plist>
